.managing-details{
    top: 5%;
    padding-top: 5%;
    position: absolute;
    left: 32%;
}

@media screen and (max-width: 768px) {
    .managing-details{
        width: 100%;
        position:static;
    }
}
