.product{
    width: 300px;
    height: 510px; 
    border-radius: 8px;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.product img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}

.product-info p{
    margin-bottom: 0;
    margin-top: 5px;
}
.btn-cart{
    color: white;
    width: 100%;
    border: none;
    background:  #1C2B35;
    border-radius: 0px 0px 6px 6px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart .btn-text{
    margin-right: 5px;
}
.btn-cart:hover{
    color:#1C2B35 ;
    background-color: #ff9900;
}