.header {
    height: 60px;
    background-color: #1C2B35;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .logout:hover {
    color: #1C2B35;
    background-color: #ff9900;
    border-radius: 10px;
  }
  
  .mobilenav{
    margin-top: 2%;
    margin-left: 80%;
  }
  